@charset "UTF-8";

@font-face {
    font-family: 'Josefin';
    src: url(../fontes/static-josefin/JosefinSans-Regular.ttf) format('truetype'), url(../fontes/static-josefin/JosefinSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Heebo';
    src: url(../fontes/static-heebo/Heebo-Regular.ttf) format('truetype'), url(../fontes/static-heebo/Heebo-SemiBold.ttf) format('truetype');
}

:root {
    --cor_branco: #FFFFFF;
    --cor_preto: #000000;
    --cor_azul_escuro: #0F1757;
    --cor_azul_claro: #2133C2;
    --cor_vermelho_escuro: #700D0B;
    --cor_bege: #D8BC61;
    --cor_branco_escuro: #E3E3E3;
    --cor_branco_escuro2: #DEDEDE;
    --cor_branco_escuro3: #C4C4C4;
    --cor-botao: #DD8C61;
}

form{
    width: 55rem;
    margin: auto;
    margin-top: 9rem;
}

form > * {
    padding: 4.5rem;
}

input {
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-top: .5rem;
}

form legend {
    font-size: 2rem;
    color: var(--cor_azul_escuro);
    font-family: 'Josefin';
    text-transform: none;
}

form p, label {
    font-size: 1.8rem;
    font-family: 'Heebo';
    text-transform: none;
}

input, textarea{
    font-family: 'Heebo';
    font-weight: normal;
    font-size: 1.6rem;
    background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover{
    background-color: #dddddd;
    transition: .3s;
}

legend{
    color: #888888;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Heebo';
}

fieldset{
    border-color: #cecece;
    margin: 2rem;
}

fieldset#sexo{
    width: 17rem;
}

fieldset#usuario{
    background: url("../imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco{
    background: url("../imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem{
    background: url("../imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido{
    background: url("../imagens/icone-pagamento.png") no-repeat 95% 95%;
}

#btn-enviar {
    text-align: center;
}

#enviar {
    font-size: 1.8rem;
    font-family: 'Heebo';
    text-transform: none;
    padding: 1rem;
    background-color: #700D0B;
    color: #fff;
    box-shadow: 4px 4px 0 var(--cor-botao);
    width: 20%;
    text-align: center;
    border: 0;
}

#enviar:hover { 
    background-color: #ad1411;
    box-shadow: 4px 4px 0 #b45928;
    transition: .6s;
    cursor: pointer;
}

/* Responsividade do contato */

@media(max-width:570px) {
    form{
        width: 45rem;
    }

    #enviar {
        font-size: 95%;
        padding: 1.2rem;
        width: 30%;
        margin: auto;
    }
}

@media(max-width:480px) {
    form{
        width: 38rem;
    }
    
    #enviar {
        font-size: 95%;
        padding: 1.2rem;
        width: 35%;
        margin: auto;
    }
}

@media(max-width:400px) {
    form{
        width: 31rem;
        margin: auto;
    }

    form > * {
        padding: 2rem;
    }
}

@media(max-width:320px) {
    form{
        width: 28rem;
        margin: auto;
    }

    form > * {
        padding: 1rem;
    }
}

/* FIM */
