@charset "UTF-8";

@font-face {
    font-family: 'Josefin';
    src: url(../fontes/static-josefin/JosefinSans-Regular.ttf) format('truetype'), url(../fontes/static-josefin/JosefinSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Heebo';
    src: url(../fontes/static-heebo/Heebo-Regular.ttf) format('truetype'), url(../fontes/static-heebo/Heebo-SemiBold.ttf) format('truetype');
}

:root {
    --cor_branco: #FFFFFF;
    --cor_preto: #000000;
    --cor_azul_escuro: #0F1757;
    --cor_azul_claro: #2133C2;
    --cor_vermelho_escuro: #700D0B;
    --cor_bege: #D8BC61;
    --cor_branco_escuro: #E3E3E3;
    --cor_branco_escuro2: #DEDEDE;
    --cor_branco_escuro3: #C4C4C4;
    --cor-botao: #DD8C61;
}

#popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000ed;
    z-index: 10000;
    transform: translateX(-100%);
    overflow: hidden;
    animation: popup .8s 7s ease-in-out forwards;
}

@keyframes popup {
    to {
        transform: translateX(0%);
    }
}

#fechar-popup {
    position: absolute;
    right: 5rem;
    top: 5rem;
}

#fechar-popup:hover {
    cursor: pointer;
    transform: scale(110%);
}

#popup-tudo {
    margin-top: 4rem;
}

#img-popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-popup > img:hover {
    transform: scale(130%);
    cursor: pointer;
    transition: .6s;
}

#conteudo-popup .h2-p, .h3-p, .p-p {
    font-family: 'Josefin';
    text-transform: none;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
}

#conteudo-popup > .h2-p {
    font-size: 5rem;
    color: var(--cor-botao);
}

#conteudo-popup > .h3-p {
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-top: 2.5rem;
}

#conteudo-popup .p-p {
    color: #fff;
    font-size: 1.8rem;
}

del {
    color: #000;
}

.checked {
    color: rgb(21, 255, 0);
}

.comprar-popup {
    font-family: 'Heebo';
    text-align: center;
    color: var(--cor_vermelho_escuro);
    background-color: var(--cor-botao);
    padding: 1rem;
    width: 10%;
    margin: .8rem auto;
    box-shadow: 3px 3px 0 #fff;
    font-weight: bold;
    font-size: 100%;
}

.comprar-popup:hover {
    background-color: #dda88c;
    color: #a50b08;
    box-shadow: 3px 3px 0 #707070;
    cursor: pointer;
    transition: .6s;
}

/* Responsividade do pop-up */

@media only screen and (max-width:945px) {
    .comprar-popup {
        font-size: 100%;
        width: 20%;
    }
}

@media only screen and (max-width:785px) {
    #popup-tudo {
        margin-top: 9.1rem;
    }

    .comprar-popup {
        font-size: 100%;
        width: 30%;
    }

    #conteudo-popup > .h2-p {
        font-size: 4rem;
        color: var(--cor-botao);
    }
    
    #conteudo-popup > .h3-p {
        font-size: 2.1rem;
        text-transform: uppercase;
        margin-top: 2.5rem;
    }
    
    #conteudo-popup .p-p {
        color: #fff;
        font-size: 1.2rem;
    }
    
    .centavos {
        font-size: .8rem;
    }
}

@media only screen and (max-width:725px) {
    .comprar-popup {
        padding: 1.5rem;
        font-size: 100%;
        width: 30%;
        margin: .8rem auto;
    }
}

@media only screen and (max-width:400px) {
    #img-popup {
        margin: auto;
        width: 65%;
        padding-top: 5rem;
    }

    #img-popup:hover {
        transform: none;
    }
}

@media only screen and (max-width:345px) {
    .comprar-popup {
        font-size: 100%;
        width: 35%;
    }
}

/* FIM */
